.pokemonDetail{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    h1 {
        text-align: center;
        font-family: "Luckiest Guy";
        font-weight: 900;
    }
    img {
        height: 60%;
        width: 60%;
    }
}

// /* Estilos para el elemento .pokemon-card__back-button */
// .pokemon-card__back-button {
//   color: #007bff; /* Color del texto */
//   cursor: pointer;
//   text-decoration: underline;
// }

// /* Estilos para el encabezado .pokemon-card__name */
// .pokemon-card__name {
//   font-size: 24px;
//   margin: 10px 0;
// }

// /* Estilos para la imagen .pokemon-card__image */
// .pokemon-card__image {
//   max-width: 100%;
//   height: auto;
// }

// /* Estilos para los párrafos de información .pokemon-card__info */
// .pokemon-card__info {
//   font-size: 16px;
//   margin: 5px 0;
// }
