body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/green-poke.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}